<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- Category -->
            <div class="single category">
                <h3 class="side-title">Groups</h3>
                <ul class="list-unstyled">
                    <!-- <li class="accordion-toggle">
                        <a (click)="toggleAccordion($event)">Church Groups </a>
                        <ul class="accordion-content">
                            <li>
                                <a>Committees <span class="float-right">13</span></a>
                            </li>
                            <li>
                                <a>Departments <span class="float-right">13</span></a>
                            </li>
                            <li>
                                <a>Ministries <span class="float-right">13</span></a>
                            </li>
                        </ul>
                    </li> -->
                    <li>
                        <a>Positions <span class="float-right">13</span></a>
                    </li>
                    <li>
                        <a>Social Outreach <span class="float-right">13</span></a>
                    </li>
                    <li>
                        <a>Classes <span class="float-right">13</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            d
            <router-outlet></router-outlet>
        </div>
    </div>
</div>