<div class="row">
    <div class="col-md-4">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-12">
                <button class="btn btn-success btn-block" (click)="addChurch();">Add Church</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a class="list-group-item" (click)='showChurch()'>
                        <div class="desc"> uu</div>
                        <div class="options text-right">
                            <a class="fa fa-edit" title="Edit" (click)='editChurch();$event.stopPropagation()'> Edit</a> | <a class="fa fa-trash" title="Delete" (click)='deleteChurch();$event.stopPropagation()'> Delete</a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="view-side-form">
    <router-outlet name="task"></router-outlet>
</div>