<div class="text-center">
    <small>Church</small>
    <h3>Church Name</h3>
    <span class="monospace"> Linstead/Buxton Town Circuit </span> | <span class="monospace"> 350 members </span> | <span class="monospace"> 34 classes </span>
    <br/>
    <a class="text-center" (click)="editChurch()"><i class="fa fa-edit"></i> Edit Church</a> | <a class="text-center" (click)="editChurch()"><i class="fa fa-edit"></i> Add Contact</a> | <a class="text-center" (click)="editChurch()"><i class="fa fa-edit"></i> Add Mission</a>
</div>
<hr/>
<div class="panel panel-default" style="padding: 10px;">
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#details" data-toggle="tab">Church Details</a></li>
            <li><a href="#missions" data-toggle="tab">Church Missions</a></li>
        </ul>
        <div class="tab-content" style="padding:4px;">
            <div class="tab-pane fade in active church-info" id="details">
                <div class="row">
                    <div class="col-md-2 col-sm-2 label">Date Constituted</div>
                    <div class="col-md-10 col-sm-10 info">August 3, 1879</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 label">Seating Capacity</div>
                    <div class="col-md-10 col-sm-10 info">345 seats</div>
                </div>
                <div class="row">
                    <div class="col-md-2  col-sm-2 label">Address</div>
                    <div class="col-md-10  col-sm-10 info"><address>34 Flecthers Avenue<br/> Linstead,<br/>St.Catherine</address></div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 label">Telephone Number(s)</div>
                    <div class="col-md-10 col-sm-10 info">(876) 456-2433; (876)543-3452</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 label">Fax Number(s)</div>
                    <div class="col-md-10 col-sm-10 info">(876) 456-2433; (876)543-3452</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 label">Email Address</div>
                    <div class="col-md-10 col-sm-10 info">youremail@email.com</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 label">Worship Times</div>
                    <div class="col-md-10 col-sm-10 info">7am, 10am</div>
                </div>
            </div>
            <div class="tab-pane fade" id="missions">
                <div class="well well-lg text-center">
                    <p>No Missions</p>
                </div>
            </div>
        </div>
    </div>
</div>