<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- Category -->
            <div class="single category">
                <h3 class="side-title">Church Categories</h3>
                <ul class="list-unstyled">
                    <!-- <li class="accordion-toggle">
                        <a (click)="toggleAccordion($event)">Church Groups </a>
                        <ul class="accordion-content">
                            <li>
                                <a>Committees <span class="float-right">13</span></a>
                            </li>
                            <li>
                                <a>Departments <span class="float-right">13</span></a>
                            </li>
                            <li>
                                <a>Ministries <span class="float-right">13</span></a>
                            </li>
                        </ul>
                    </li> -->
                    <li routerLinkActive="active">
                        <a [routerLink]="['./church_groups']">Church Groups <span class="float-right">13</span></a>
                    </li>
                    <li>
                        <a>Social Outreach <span class="float-right">13</span></a>
                    </li>
                    <li>
                        <a>Church Council <span class="float-right">13</span></a>
                    </li>
                    <li>
                        <a>Circuit Council <span class="float-right">13</span></a>
                    </li>
                    <li>
                        <a>Church Activities <span class="float-right">13</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <!-- <h4 class="text-center title">Committees</h4>
            <button class="btn btn-success">jj</button> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>