<div class="text-right">
    <!-- Single button -->
    <h3>{{visitor?.title}} {{visitor?.fullName}}</h3>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
Options <span class="caret"></span>
</button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a (click)="editVisitor()"><i class="glyphicon glyphicon-edit"></i> Edit Visitor Information</a></li>
            <li><a (click)="deleteVisitor()"><i class="glyphicon glyphicon-trash"></i> Delete Visitor</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="box">
            <div class="row">
                <div class="col-md-12" style="margin: 10px;">
                    <!-- Nav tabs -->
                    <div class="row">
                        <div class="col-md-2 col-sm-2 label">Age Group</div>
                        <div class="col-md-10 col-sm-10 info">{{visitor?.ageGroup || 'No Age Group Specified'}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2  col-sm-2 label">Address</div>
                        <div class="col-md-10  col-sm-10 info"><address>{{visitor?.address || 'No Address Specified'}}</address></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 label">Telephone Number(s)</div>
                        <div class="col-md-10 col-sm-10 info">{{visitor?.telephone || 'No Contacts Specified'}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 label">Email Address</div>
                        <div class="col-md-10 col-sm-10 info">{{visitor?.email || 'No Email Specified'}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 label">Invited By</div>
                        <div class="col-md-10 col-sm-10 info">{{visitor?.guestOf || 'No Inviter Specified'}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 label">Church Invited TO</div>
                        <div class="col-md-10 col-sm-10 info">{{visitor?.church || 'No Church Specified'}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 label">Reason for Visiting</div>
                        <div class="col-md-10 col-sm-10 info">{{visitor?.reasonVisiting || 'No Reason Specfied'}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 label">Date Attended</div>
                        <div class="col-md-10 col-sm-10 info">{{visitor?.dateAttended | date:'MMMM dd, yyyy' || 'No Date Specified'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>