<div class="text-right">
    <!-- Single button -->
    <h3>Mr Davif Jones</h3>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
Options <span class="caret"></span>
</button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a (click)="editVisitor()"><i class="glyphicon glyphicon-edit"></i> Edit Visitor Information</a></li>
            <li><a (click)="deleteVisitor()"><i class="glyphicon glyphicon-trash"></i> Delete Visitor</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="box">
            <div class="row">
                <div class="col-md-12" style="margin: 10px;">
                    <!-- Nav tabs -->
                    <div class="row">
                        <div class="col-md-2 col-sm-2 label">Age Group</div>
                        <div class="col-md-10 col-sm-10 info">7-12</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2  col-sm-2 label">Address</div>
                        <div class="col-md-10  col-sm-10 info"><address>34 Flecthers Avenue<br/> Linstead,<br/>St.Catherine</address></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 label">Telephone Number(s)</div>
                        <div class="col-md-10 col-sm-10 info">(876) 456-2433; (876)543-3452</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 label">Email Address</div>
                        <div class="col-md-10 col-sm-10 info">youremail@email.com</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 label">Invited By</div>
                        <div class="col-md-10 col-sm-10 info">Jim Jones</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 label">Church Invited TO</div>
                        <div class="col-md-10 col-sm-10 info">sdewe</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 label">Reason for Visiting</div>
                        <div class="col-md-10 col-sm-10 info">sdewe</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 label">Date Attended</div>
                        <div class="col-md-10 col-sm-10 info">August 3, 1879</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>