div.panel:first-child {
    margin-top: 20px;
}

.content {
    height: 400px;
}

.panel-body {
    padding: 0px;
}

.panel-heading {
    padding: 0px;
}

.panel-heading button {
    border-radius: 0%;
}

.form-control {
    border-radius: 0%;
}

div.treeview {
    min-width: 100px;
    height: 500px;
    overflow: auto;
    padding: 4px;
    margin-bottom: 20px;
    color: #369;
    border: solid 1px;
    border-radius: 4px;
}

div.treeview ul:first-child:before {
    display: none;
}

.treeview,
.treeview ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #369;
}

.treeview ul {
    margin-left: 1em;
    position: relative
}

.treeview ul ul {
    margin-left: .5em
}

.treeview ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 1px solid;
    /* creates a more theme-ready standard for the bootstrap themes */
    bottom: 15px;
}

.treeview li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    font-weight: 700;
    position: relative
}

.treeview ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0
}

.tree-indicator {
    margin-right: 5px;
    cursor: pointer;
}

.treeview li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.treeview li button,
.treeview li button:active,
.treeview li button:focus {
    text-decoration: none;
    color: inherit;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}

body {
    padding-top: 50px;
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-width: 0;
}

.nav-tabs>li>a {
    border: none;
    color: #666;
}

.nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
    border: none;
    color: #4285F4!important;
    background: transparent;
}

.nav-tabs>li>a::after {
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    transition: all 250ms ease 0;
    transform: scale(0);
}

.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
    transform: scale(1);
}

.tab-nav>li>a::after {
    background: #21527d none repeat scroll 0 0;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px;
}

.btn-glyphicon {
    background: #fff;
    margin-right: 4px;
    padding: 8px;
}

.icon-btn {
    border-radius: 50px;
    padding: 1px 15px 3px 2px;
}

.presentation a:selected {
    outline: none;
}

.container {
    margin-top: 10px;
}