<div class="side-form">
    <div>
        <div class="wizard" id="myWizard">
            <section>
                <h4 class="text-center">{{title}}</h4>
            </section>
            <div class="wizard__progress">
                <ul class="wizard__labels nav nav-tabs">
                    <li style="width:33.33%;" class="col-xs-12" *ngFor="let wizard of wizard_tabs" [ngClass]="{'active': wizard.isSelected}">
                        <a href="{{wizard.content}}" data-toggle="tab" (click)="selectPage(wizard.order)">
                            <i class="{{wizard.icon}} wizard__icon"></i> {{ wizard.title }}
                        </a>
                    </li>
                </ul>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 33.33%;"> </div>
                </div>
            </div>
            <form [formGroup]="churchForm">
                <div class="tab-content">
                    <div class="tab-pane fade in" id="churchInfo" [ngClass]="{'active show': isSelected('#churchInfo')}">
                        <section>
                            <div class="form-group">
                                <label>Church Name</label>
                                <input type="text" name="churchName" class="form-control" formControlName="church">
                                <small class="error" *ngIf="churchForm.get('church').hasError('required')">
                                        Church Name is required. 
                                </small>
                            </div>
                            <div class="form-group ">
                                <label class="control-label " for="nid-type ">Circuit </label>
                                <select class="form-control" formControlName="circuit">
                                    <option value="0">Please Select</option>
                                    <option *ngFor="let circuit of circuits" [ngValue]="circuit.id" >{{ circuit.circuit }}</option>
                                </select>
                            </div>

                            <div class="row">
                                <div class="col-sm-8 col-md-8">
                                    <div class="form-group ">
                                        <label class="control-label "> Date Constituted <span class="required ">*</span></label>
                                        <div class="input-group">
                                            <input class="form-control" style="float:none" placeholder="Select a date" ngx-mydatepicker name="myDate" formControlName="dateConst" [options]="myOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)" />

                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                                <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / end col -->
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group ">
                                        <label class="control-label " for="seat_quota "> Seating Capacity <span class="required ">*</span></label>
                                        <input type="number " class="form-control input-sm " id="seat_quota " formControlName="seatQuota">
                                        <small class="error" *ngIf="churchForm.get('seatQuota').hasError('required')">
                                                Seat Count is required. 
                                        </small>
                                    </div>
                                </div>
                                <!-- / end col -->
                            </div>
                            <!-- worship times panel  -->
                            <!-- <div class="panel">
                                <div class="panel-header">
                                    <span class="text-center">Worship Times</span>
                                </div>
                                <div class="panel-body" style="height: 200px;">
                                    <div class="add-content">
                                        <div class="input-group">
                                            <input type="time" class="form-control input-sm ">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success btn-add btn-sm" type="button" (click)="addWorshipTime()">
                                                    <span class="fa fa-plus"></span>
                                            </button>
                                            </span>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="content" style="height: 120px;overflow-y:auto">
                                        <!-- <div class="input-group" *ngFor="let worship_time of church.worship_times">
                                            <input type="time" class="form-control input-sm ">
                                            <span class="input-group-btn">
                                                <button class="btn btn-danger btn-delete" type="button">
                                                    <span class="fa fa-minus" (click)="deleteWorshipTime(worship_time)"></span>
                                            </button>
                                            </span>
                                        </div> -->
                            <!-- </div>
                                </div>
                            </div> -->
                        </section>
                    </div>
                    <div class="tab-pane fade in " id="addressContact" [ngClass]="{'active show' : isSelected('#addressContact')}">
                        <section>

                            <div class="form-group">
                                <label for="church_street">Street</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="church_street">Town</label>
                                <input type="text" class="form-control" />
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-header">
                                    Contacts <button class="btn btn-success btn-add pull-right" type="button" (click)="addContact()">Add</button>
                                </div>
                                <div class="panel-body">
                                    <div formArrayName="contacts">
                                        <div *ngFor="let contact of contacts.controls;  let i = index;">
                                            <div [formGroupName]="i" class="row dynamic_row">
                                                <div class="col-md-5">
                                                    <select class="form-control" formControlName="contactType">                                                       
                                                        <option *ngFor="let type of contactTypes" [ngValue]="type.id">{{ type.contactType }}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <input class="form-control" formControlName="contact" />
                                                        <span class="input-group-btn">
                                                        <button class="btn btn-danger btn-delete" role="button">
                                                            <span class="fa fa-minus" (click)="deleteContact(i)"></span>
                                                        </button>
                                                        </span>
                                                    </div>
                                                    <!-- <small class="error" *ngIf="contacts.get(i).hasError('required')">
                                                           Please enter contact information
                                                    </small> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>

                    </div>
                    <div class="tab-pane fade in" id="churchMission" [ngClass]="{'active show': isSelected('#churchMission')}">
                        <section>
                            <div class="panel">
                                <div class="panel-header">Church Missions</div>
                                <div class="panel-body">
                                    <div class="add-content">
                                        <button class="btn btn-success btn-add btn-block" type="button" (click)="addMission()">Add</button>
                                    </div>
                                    <hr/>
                                    <div class="mission-content" formArrayName="missions">
                                        <div *ngFor="let mission of missions.controls;  let i = index;">
                                            <div [formGroupName]="i" class="row dynamic_row">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <input class="form-control" formControlName="mission" />
                                                        <span class="input-group-btn">
                                                        <button class="btn btn-danger btn-delete">
                                                            <span class="fa fa-minus" (click)="deleteMission(i)"></span>
                                                        </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>
                <div>
                    <section class="row text-right">
                        <button type="button " class="btn btn-primary" (click)="prevPage()" [ngClass]="{'hide': isFirstPage()}">Back</button>
                        <button type="button " class="btn btn-default" (click)="nextPage()" [ngClass]="{'hide': isLastPage()}">Continue</button>
                        <button type="submit" (click)="saveChurch()" [disabled]="churchForm.invalid" class="btn btn-default" [ngClass]="{'hide': !isLastPage()}">Save</button>
                        <button type="button " class="btn btn-default" (click)="cancelAction()">Cancel</button>

                    </section>
                </div>
            </form>
        </div>
    </div>