<div class="container">

    <h2 class="page-title">Circuits</h2>
    <a (click)="addCircuit()" class="btn btn-primary pull-right"><b>+</b> Add Circuit</a>
    <!-- <button class="btn btn-success pull-right" >Add Circuit</button> -->
    <br/><br/>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div *ngIf="circuits?.length > 0">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                                <tr>
                                    <th style="width: 20px;"><input type="checkbox" /></th>
                                    <th class="text-center">Actions</th>
                                    <th scope="col">Circuit</th>
                                    <th scope="col">Parish Association</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let circuitInfo of circuits">
                                    <td><input type="checkbox" /></td>
                                    <td class="text-center" style="width: 120px;">
                                        <a class='btn btn-info btn-xs' (click)="editCircuit(circuitInfo.id)">
                                            <span class="fa fa-edit"></span> Edit
                                        </a>
                                        <a class="btn btn-danger btn-xs" (click)="deleteCircuit(circuitInfo.id)">
                                            <span class="fa fa-remove"></span> Del
                                        </a>
                                    </td>

                                    <td>{{circuitInfo.circuit}}</td>
                                    <td>{{circuitInfo.parishCode}}</td>
                                    <!-- <td>{{getParish(circuitInfo.parishCode)}} </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--  -->
                    <div class="row" *ngIf="circuits?.length == 0">
                        <div class="col-md-12">
                            <div class="well well-lg">
                                <p class="text-center">No Circuits</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="view-side-form">
    <router-outlet></router-outlet>
</div>