.sidenav {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background: black;
    overflow: hidden;
    padding-top: 50px;
    padding-left: 30px;
}

.sidenav a {
    padding: 6px 6px 6px 3px;
    text-decoration: none;
    color: #818181;
    display: block;
    font-size: 25px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav a:active {
    color: red;
}

.main {
    margin-left: 400px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        padding-left: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}