<div class="treeview">
    <ul id="treeview-tree">
        <li *ngFor="let node of parents" class="tree-branch" (click)="toggleItem(node.title, $event)">
            <i class='tree-indicator glyphicon glyphicon-chevron-right'></i>
            <a>
                {{node.title}}
            </a>
            <ul *ngIf="node.children?.length === 0">
                <li>No Content Availiable</li>
            </ul>
            <ul *ngFor="let child of node.children">
                <li (click)="toggleItem(node.title, $event)">
                    <a class="tree-branch tree-indicator">
                        {{node.title}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>