<div class="container">

    <div class="row content">
        <div class="col-md-4">
            <div class="panel panel-default tree">
                <div class="panel-heading">
                    <div class="input-group">
                        <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                        <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                    </div>
                </div>
                <div class="panel-body">
                    <!-- TREEVIEW CODE -->
                    <div class="treeview">
                        <ul>
                            <li><a href="#">Tree</a>
                                <ul>
                                    <li><a href="#">Branch</a></li>
                                    <li><a href="#">Branch</a>
                                        <ul>
                                            <li><a href="#">Stick</a></li>
                                            <li><a href="#">Stick</a></li>
                                            <li><a href="#">Stick</a>
                                                <ul>
                                                    <li><a href="#">Twig</a></li>
                                                    <li><a href="#">Twig</a></li>
                                                    <li><a href="#">Twig</a></li>
                                                    <li><a href="#">Twig</a>
                                                        <ul>
                                                            <li><a href="#">Leaf</a></li>
                                                            <li><a href="#">Leaf</a></li>
                                                            <li><a href="#">Leaf</a></li>
                                                            <li><a href="#">Leaf</a></li>
                                                            <li><a href="#">Leaf</a></li>
                                                            <li><a href="#">Leaf</a></li>
                                                            <li><a href="#">Leaf</a></li>
                                                            <li><a href="#">Leaf</a></li>
                                                            <li><a href="#">Leaf</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Twig</a></li>
                                                    <li><a href="#">Twig</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Stick</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Branch</a></li>
                                    <li><a href="#">Branch</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- TREEVIEW CODE -->
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="text-right">
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Options <span class="caret"></span>
          </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#"><i class="glyphicon glyphicon-edit"></i> Edit Member Information</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-trash"></i> Delete Member</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="box">
                        <div class="box-icon">
                            <img src="http://www.placehold.it/200x200" />
                        </div>
                        <h4 class="text-center">name</h4>
                        <hr/>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Nav tabs -->
                                <div class="card">
                                    <ul class="nav nav-tabs nav-justified" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">General Information</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Address & Contact</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Skills & Profession</a></li>
                                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Membership Information</a></li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="home">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                        <div role="tabpanel" class="tab-pane" id="profile">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to make a type specimen book.</div>
                                        <div role="tabpanel" class="tab-pane" id="messages">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                        <div role="tabpanel" class="tab-pane" id="settings">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                            sheets containing Lorem Ipsum passage..</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>